<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Paperclip</title>
        <meta name="description" content="Paperclip is a beautiful markdown writing app.">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Web fonts --> 
        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
        <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i|Cousine:400,400i,700,700i" rel="stylesheet"> 
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inscrybmde@1.11.3/dist/inscrybmde.min.css">
        <script src="https://cdn.jsdelivr.net/npm/inscrybmde@1.11.3/dist/inscrybmde.min.js"></script>

        <!-- favicon.ico and apple-touch-icon. A good tool is http://iconogen.com/. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon" href="icon.png">

    </head>

    <body>
