// Base embed styles
// -------------------------------------------------------------------
// Make stuff responsive
img, canvas, iframe, video, svg { max-width: 100%; }

.logo { max-width: 162px; }

.logo--mobile {
    height: 20px;
    bottom: 4px;
}
