// Modals
// -------------------------------------------------------------------
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    padding: 3.2rem 1rem;
    background-color: rgba(50, 51, 54,.6);
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    background-color: $white;
    left: 50%;
    margin-left: -225px;
    width: 450px;
    z-index: 10;
    border-radius: $border-radius;
    position: relative;

    @media screen and (max-width: $breakpoint--sm) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left: auto;
    }
}

.js-modal-toggle { cursor: pointer; }