.js-popup-toggle {
    cursor: pointer;
}

.js-popup {
    display: none;
    z-index: 10;
}

.settings-popup {
    bottom: 4.2rem;
    width: 10rem;
    left: $space-2;
}

.title-popup {
    width: 21rem;
    top: .8rem;
    left: calc(100%);
}
